# How to perform indexing of Pandas ```DataFrame```?

We can conduct indexing of```DataFrame``` with ```loc``` and ```iloc``` functionality and ```slicing``` operation.

In [2]:
import pandas as pd
import numpy as np

In [3]:
titanic = pd.read_csv('data/titanic.csv')
titanic = titanic.set_index("Name")

In [4]:
titanic.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

Lets create a small sample of data

In [5]:
sample = titanic[0:5]

#### Indexing Data

Source: [Using iloc, loc, & ix to select rows and columns in Pandas DataFrames](https://www.shanelynn.ie/select-pandas-dataframe-rows-and-columns-using-iloc-loc-and-ix/)

- ```loc``` and ```iloc``` :

The iloc indexer for Pandas Dataframe is used for integer-location based indexing / selection by position.

The Pandas loc indexer can be used with DataFrames for two different use cases:

  - a.) Selecting rows by label/index
  - b.) Selecting rows with a boolean / conditional lookup

In [13]:
sample.iloc[0:2,:]

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

In [14]:
sample.iloc[1,0:3]

PassengerId    2
Survived       1
Pclass         1
Name: Cumings, Mrs. John Bradley (Florence Briggs Thayer), dtype: object

In [15]:
sample.loc[:,'Survived': 'Ticket']

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket
Name,,,,,,,
"Braund, Mr. Owen Harris",0,3,male,22.0,1,0,A/5 21171
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",1,1,female,38.0,1,0,PC 17599
"Heikkinen, Miss. Laina",1,3,female,26.0,0,0,STON/O2. 3101282
"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,1,female,35.0,1,0,113803
"Allen, Mr. William Henry",0,3,male,35.0,0,0,373450

In [6]:
sample.loc['Braund, Mr. Owen Harris',:]

PassengerId            1
Survived               0
Pclass                 3
Sex                 male
Age                 22.0
SibSp                  1
Parch                  0
Ticket         A/5 21171
Fare                7.25
Cabin                NaN
Embarked               S
Name: Braund, Mr. Owen Harris, dtype: object