# How to create a pandas ```DataFrame``` from a Numpy array

In [2]:
import pandas as pd
import numpy as np

Let's create a random array of size(100,20) and random column names. We will use these array and column names to create the ```DataFrame``` in next step.

In [5]:
import random as random
A = np.random.rand(10,10)

In [6]:
A

array([[0.20787559, 0.15011882, 0.07775986, 0.50085556, 0.3914092 ,
        0.5908682 , 0.86092171, 0.12377293, 0.78549164, 0.97544974],
       [0.10995689, 0.65270126, 0.15047928, 0.53228979, 0.62903759,
        0.98727112, 0.3915391 , 0.45565829, 0.77565827, 0.23650737],
       [0.97124061, 0.79099321, 0.46062959, 0.92232374, 0.61109644,
        0.52864854, 0.20534532, 0.9003085 , 0.30872595, 0.4513746 ],
       [0.12708825, 0.8554662 , 0.23510558, 0.95610643, 0.98394679,
        0.79950338, 0.1595377 , 0.46961659, 0.30723946, 0.25547347],
       [0.24642563, 0.21571729, 0.74639224, 0.67911581, 0.14499415,
        0.5776048 , 0.20486792, 0.65607865, 0.94141652, 0.57418481],
       [0.39827408, 0.09295534, 0.52293606, 0.55181094, 0.36523925,
        0.81989941, 0.95925993, 0.88689787, 0.55373276, 0.14605929],
       [0.39033015, 0.10131502, 0.86913904, 0.2599803 , 0.07225785,
        0.18092596, 0.50399003, 0.08823442, 0.44883741, 0.18075517],
       [0.41275755, 0.01735399, 0.03947592, 0.42753539, 0.11125269,
        0.88267368, 0.23279427, 0.72467738, 0.46147981, 0.41583617],
       [0.26135607, 0.0441717 , 0.6006841 , 0.39318647, 0.20031456,
        0.00657259, 0.61188824, 0.97400506, 0.34846363, 0.83650704],
       [0.7450531 , 0.67544255, 0.21217648, 0.94599382, 0.66349386,
        0.48474365, 0.34080695, 0.07632733, 0.56882808, 0.82818682]])

In [8]:
col_names = ["col1","col2","col3","col4","col5","col6","col7","col8","col9","col10"]

In [11]:
index_names = ["ind1","ind2","ind3","ind4","ind5","ind1","ind2","ind3","ind4","ind5"]

In [14]:
df = pd.DataFrame(A, columns = col_names, index = index_names )
df.head(10)

,col1,col2,col3,col4,col5,col6,col7,col8,col9,col10
ind1,0.207876,0.150119,0.077760,0.500856,0.391409,0.590868,0.860922,0.123773,0.785492,0.975450
ind2,0.109957,0.652701,0.150479,0.532290,0.629038,0.987271,0.391539,0.455658,0.775658,0.236507
ind3,0.971241,0.790993,0.460630,0.922324,0.611096,0.528649,0.205345,0.900308,0.308726,0.451375
ind4,0.127088,0.855466,0.235106,0.956106,0.983947,0.799503,0.159538,0.469617,0.307239,0.255473
ind5,0.246426,0.215717,0.746392,0.679116,0.144994,0.577605,0.204868,0.656079,0.941417,0.574185
ind1,0.398274,0.092955,0.522936,0.551811,0.365239,0.819899,0.959260,0.886898,0.553733,0.146059
ind2,0.390330,0.101315,0.869139,0.259980,0.072258,0.180926,0.503990,0.088234,0.448837,0.180755
ind3,0.412758,0.017354,0.039476,0.427535,0.111253,0.882674,0.232794,0.724677,0.461480,0.415836
ind4,0.261356,0.044172,0.600684,0.393186,0.200315,0.006573,0.611888,0.974005,0.348464,0.836507
ind5,0.745053,0.675443,0.212176,0.945994,0.663494,0.484744,0.340807,0.076327,0.568828,0.828187

### How to save data from ``` DataFrame``` to a ```CSV``` file?

In [19]:
df.to_csv('data/test.csv')