# How to create a pandas ```DataFrame``` from a Python dictionary?

In [1]:
import pandas as pd
import random as random

Here we will create a list with collection of dictionaries. Each of the dictionary will have keys and values. Using this list of dictionaries, we will create another ```DataFrame```. The keys of the dictionary will serve as the column names.

In [11]:
letters = ["A","B","C","D","X","Y","Z"]
numbers = [str(i) for i in range(100)]

In [12]:
LD = []
for i in range(100):
    LD.append({'Player' : random.choice(letters) + \
                         random.choice(numbers),\
               'game1' : random.uniform(0,1),\
               'game2' : random.uniform(0,1),\
               'game3' : random.uniform(0,1),
               'game4' : random.uniform(0,1),
               'game5' : random.uniform(0,1)})

In [13]:
LD[0]

{'Player': 'A12',
 'game1': 0.43274243150022507,
 'game2': 0.7110168117205182,
 'game3': 0.316893910993688,
 'game4': 0.9550422169202661,
 'game5': 0.9126701174507769}

In [14]:
DF = pd.DataFrame(LD)
DF=DF.set_index("Player")

In [15]:
DF.head(10)

           game1     game2     game3     game4     game5
Player
A12     0.432742  0.711017  0.316894  0.955042  0.912670
X62     0.725867  0.179825  0.527084  0.096326  0.583951
C12     0.737120  0.384927  0.937048  0.162953  0.763683
Y92     0.218120  0.524966  0.785313  0.526884  0.169031
A98     0.894978  0.406624  0.947015  0.851915  0.756420
D50     0.381007  0.428710  0.240440  0.712284  0.594316
D5      0.943026  0.739171  0.453007  0.336399  0.790958
B36     0.809476  0.400809  0.373772  0.178760  0.220170
A53     0.585857  0.981373  0.835294  0.935015  0.383818
A36     0.875943  0.279313  0.082648  0.738557  0.302721

# How to create a pandas ```DataFrame``` from a Python List?

We can start from blank ```Dataframe``` object and populate the columns with ```list``` of items. Lets first create some python list. Before that we will prepare letters and number list.

In [23]:
letters = ["A","B","C","D","X","Y","Z"]
numbers = [str(i) for i in range(100)]

Lets get index and other columns (e.g., A,B,C,D) lists that we want to populate in ```DataFrame```.

In [30]:
index = [random.choice(letters) + random.choice(numbers) for i in range (10)]
A = [random.uniform(0,1)for i in range(10)]
B = [random.uniform(0,1)for i in range(10)]
C = [random.uniform(0,1)for i in range(10)]
D = [random.uniform(0,1)for i in range(10)]

We can create each column of ```DataFrame``` by providing the list of items and column names.The point to be noted is that, it does not automatically assign ```index```. One need to set index by implementing ```pandas.Dataframe.set_index('column-name')```.

In [32]:
df = pd.DataFrame()
df['ID'],df['A'],df['B'],df['C'],df['D'] = index,A,B,C,D
df = df.set_index("ID")
df.head()

            A         B         C         D
ID
Z65  0.220402  0.370305  0.866337  0.342749
A37  0.291843  0.218648  0.324468  0.015307
Z48  0.607929  0.925458  0.829270  0.458777
Z70  0.881246  0.809939  0.611726  0.102013
C81  0.321069  0.824673  0.248596  0.820866