# How to iterate Pandas ```DataFrame```?

We can conduct iteration of```DataFrame``` with ```iterrows``` and ```iteritems``` functionality and ```slicing``` operation.

In [5]:
import pandas as pd
import numpy as np

In [6]:
titanic = pd.read_csv('data/titanic.csv')
titanic = titanic.set_index("Name")

In [7]:
titanic.head(2)

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
"Braund, Mr. Owen Harris",1,0,3,male,22.0,1,0,A/5 21171,7.2500,NaN,S
"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",2,1,1,female,38.0,1,0,PC 17599,71.2833,C85,C

#### Iteration of rows implementing   ```iterrows```

In [9]:
for index,row in sample.iterrows():
    print(index,list(row))

Braund, Mr. Owen Harris [1, 0, 3, 'male', 22.0, 1, 0, 'A/5 21171', 7.25, nan, 'S']
Cumings, Mrs. John Bradley (Florence Briggs Thayer) [2, 1, 1, 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C']
Heikkinen, Miss. Laina [3, 1, 3, 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, nan, 'S']
Futrelle, Mrs. Jacques Heath (Lily May Peel) [4, 1, 1, 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S']
Allen, Mr. William Henry [5, 0, 3, 'male', 35.0, 0, 0, '373450', 8.05, nan, 'S']

We can select specific columns by passing column names in ```row()``` input

In [10]:
for index,row in sample.iterrows():
    print(index,row['Sex'],row['Age'])

Braund, Mr. Owen Harris male 22.0
Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38.0
Heikkinen, Miss. Laina female 26.0
Futrelle, Mrs. Jacques Heath (Lily May Peel) female 35.0
Allen, Mr. William Henry male 35.0

#### Iteration of rows with  ```iteritems```

In [11]:
for index,row in sample.T.iteritems():
    print(index,list(row))

Braund, Mr. Owen Harris [1, 0, 3, 'male', 22.0, 1, 0, 'A/5 21171', 7.25, nan, 'S']
Cumings, Mrs. John Bradley (Florence Briggs Thayer) [2, 1, 1, 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C']
Heikkinen, Miss. Laina [3, 1, 3, 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, nan, 'S']
Futrelle, Mrs. Jacques Heath (Lily May Peel) [4, 1, 1, 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S']
Allen, Mr. William Henry [5, 0, 3, 'male', 35.0, 0, 0, '373450', 8.05, nan, 'S']

In [12]:
for index,row in sample.iteritems():
    print(index,row[0],row[1],row[2])

PassengerId 1 2 3
Survived 0 1 1
Pclass 3 1 3
Sex male female female
Age 22.0 38.0 26.0
SibSp 1 1 0
Parch 0 0 0
Ticket A/5 21171 PC 17599 STON/O2. 3101282
Fare 7.25 71.2833 7.925
Cabin nan C85 nan
Embarked S C S